/*-------------------------
    Effect
-------------------------*/
.effect {
  position: relative;
  overflow: hidden;
  text-align: center;
}
.effect-caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}
.effect-img {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  -webkit-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}
.effect-prolly-img {
  -webkit-transform: scale(1.12);
  -ms-transform: scale(1.12);
  transform: scale(1.12);
}
.effect-prolly {
  &:hover {
    .effect-prolly-img {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
  }
}
.effect-prolly-caption {
  padding: 3rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: var(--bgcolor-primary-1);
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
  &:before {
    position: absolute;
    top: 1rem;
    right: 1rem;
    bottom: 1rem;
    left: 1rem;
    border: var(--border-white);
    content: '';
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
  }
  &:hover {
    background-color: var(--bgcolor-primary-2);
  }
}
.effect-layla {
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bgcolor-primary-3);
    display: none;
    z-index: 1;
  }
  &:hover {
    .effect-layla-caption {
      &:after {
        opacity: 1;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        -webkit-transition-delay: .15s;
        -o-transition-delay: .15s;
        transition-delay: .15s;
      }
      &:before {
        opacity: 1;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
      }
    }
    &:before {
      display: block;
      -webkit-transition-delay: .15s;
      -o-transition-delay: .15s;
      transition-delay: .15s;
    }
    .effect-layla-title {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      -webkit-transition-delay: .15s;
      -o-transition-delay: .15s;
      transition-delay: .15s;
    }
    .effect-layla-img {
      -webkit-transition-delay: .15s;
      -o-transition-delay: .15s;
      transition-delay: .15s;
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
  }
}
.effect-layla-caption {
  padding: 2rem;
  z-index: 1;
  &:after {
    position: absolute;
    content: '';
    opacity: 0;
    top: 1.25rem;
    right: 2.5rem;
    bottom: 1.25rem;
    left: 2.5rem;
    border-right: var(--border-white);
    border-left: var(--border-white);
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transition: all .35s ease-out;
    -o-transition: all .35s ease-out;
    transition: all .35s ease-out;
  }
  &:before {
    position: absolute;
    content: '';
    opacity: 0;
    top: 2.5rem;
    right: 1.25rem;
    bottom: 2.5rem;
    left: 1.25rem;
    border-top: var(--border-white);
    border-bottom: var(--border-white);
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transition: all .35s ease-out;
    -o-transition: all .35s ease-out;
    transition: all .35s ease-out;
  }
}
.effect-layla-title {
  color: var(--color-white);
  margin: 0;
  padding: 1rem;
  opacity: 0;
  -webkit-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0);
  -webkit-transition: all .35s ease-out;
  -o-transition: all .35s ease-out;
  transition: all .35s ease-out;
}
.effect-layla-img {
  -webkit-transition: all .35s ease-out;
  -o-transition: all .35s ease-out;
  transition: all .35s ease-out;
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
}
@media (max-width: 992px) {
  .effect-layla-caption {
    &:after {
      content: none;
    }
    &:before {
      content: none;
    }
  }
  .effect-layla-title {
    font-size: 1rem;
  }
}
@media (max-width:768px) {
  .effect-layla-title {
    font-size: 1.5rem;
  }
}
