/*-------------------------
    Helper Classes
-------------------------*/
.title--mini {
  font-size: 1.188rem;
  font-weight: 500;
  color: var(--color-primary);
  margin-bottom: 1.4rem;
  line-height: normal;
}
