/*-------------------------
    Helper Classes
-------------------------*/
$color_1: #102747;

.title--mini {
  font-size: 1.188rem;
  font-weight: 500;
  color: $color_1;
  margin-bottom: 1.4rem;
  line-height: normal;
}
