/*-------------------------
    Forms Styles
-------------------------*/
$color_1: #071330;
$color_2: #444;
$color_3: #838998;
$background-color_1: #fff;
$border-color_1: #102747;

.Form {
  .button {
    margin-top: 0;
  }
}
.Form-group {
  width: 100%;
  position: relative;
  padding: 0;
  margin-bottom: 1rem;
}
.Form-input {
  border: .063rem solid #fe9f38;
  display: block;
  width: 100%;
  font-size: .875rem;
  height: 2.813rem;
  padding-left: .75rem;
  padding-right: .75rem;
  word-break: normal;
  background-color: $background-color_1;
  color: $color_1;
  outline: 0;
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
  &:focus {
    outline: 0;
    border-color: $border-color_1;
  }
  &::-webkit-input-placeholder {
    color: $color_3;
  }
  &::-moz-placeholder {
    color: $color_3;
  }
  &:-ms-input-placeholder {
    color: $color_3;
  }
  &::-ms-input-placeholder {
    color: $color_3;
  }
  &::placeholder {
    color: $color_3;
  }
}
.Form-group--focus {
  .Form-label {
    font-size: .75rem;
    -webkit-transform: translateY(-.25rem);
    -ms-transform: translateY(-.25rem);
    transform: translateY(-.25rem);
  }
  .Form-input {
    padding-top: 1.125rem;
  }
}
.Form-label {
  font-size: .875rem;
  font-weight: 400;
  width: 100%;
  color: $color_2;
  margin-bottom: .5rem;
  z-index: 1;
  cursor: text;
  text-transform: capitalize;
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
.Form-input--textarea {
  height: 9rem;
}
