/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

a,
a:hover,
a:focus {
  text-decoration: none;
}

a,
button {
  outline: 0;
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out
}

.slick-slide {
  margin: 0 20px;
  height: auto;
}

.slick-track {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.button {
  margin-top: .874rem;
  border-radius: 0;
  font-weight: 500;
  text-transform: uppercase;
  font-size: .8rem;
  padding: .5rem .7rem
}

.button:hover {
  -webkit-box-shadow: 0 .5rem 1.813rem 0 rgba(0, 0, 0, .23);
  box-shadow: 0 .5rem 1.813rem 0 rgba(0, 0, 0, .23)
}

.button--orange {
  background-color: #fe9f38;
  border-color: #fe9f38
}

.button--orange:hover {
  background-color: #102747;
  border: .063rem solid #102747
}

.title--mini {
  font-size: 1.188rem;
  font-weight: 500;
  color: #102747;
  margin-bottom: 1.4rem;
  line-height: normal
}

.scroll-to-top.scroll-up {
  z-index: 5;
  background-color: #fe9f38;
  border-radius: 0;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.scroll-up:hover {
  background-color: #102747
}

.navbar {
  position: relative;
  padding: 2.25rem 0;
}

.navbar.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0;
  z-index: 4;
  -webkit-animation: slideInDown .7s ease-in-out 0s 1 both;
  animation: slideInDown .7s ease-in-out 0s 1 both;
  -webkit-box-shadow: 0 .313rem .563rem .063rem rgba(144, 161, 180, .2);
  box-shadow: 0 .313rem .563rem .063rem rgba(144, 161, 180, .2);
  background-color: #fff
}

@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }
}

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }
}

.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: .5rem 0;
  margin: .125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: .25rem
}

.dropdown-menu.show {
  display: block
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0;
  margin: 0
}

.menu-item {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  border: .063rem solid transparent;
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out
}

.menu-item:hover .line-1 {
  -webkit-animation: move1 1.5s infinite ease;
  animation: move1 1.5s infinite ease
}

.menu-item:hover .line-2 {
  -webkit-animation: move2 1.5s infinite ease;
  animation: move2 1.5s infinite ease
}

.menu-item:hover .line-3 {
  -webkit-animation: move3 1.5s infinite ease;
  animation: move3 1.5s infinite ease
}

.menu-item:hover .line-4 {
  -webkit-animation: move4 1.5s infinite ease;
  animation: move4 1.5s infinite ease
}

.menu-item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #102747;
  text-decoration: none;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  text-transform: uppercase
}

.menu-item-link:hover {
  color: #fe9f38
}

.menu-item .line-1,
.menu-item .line-2,
.menu-item .line-3,
.menu-item .line-4 {
  content: "";
  display: block;
  position: absolute;
  background-color: currentColor;
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out
}

.menu-item .line-1 {
  width: .063rem;
  left: 0;
  bottom: 0
}

.menu-item .line-2 {
  height: .063rem;
  left: 0;
  top: 0
}

.menu-item .line-3 {
  width: .063rem;
  right: 0;
  top: 0
}

.menu-item .line-4 {
  height: .063rem;
  right: 0;
  bottom: 0
}

.menu .dropdown {
  position: relative
}

.menu .dropdown:hover .dropdown-menu {
  height: auto;
  visibility: visible;
  opacity: 1;
  z-index: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 0s, 0s, .3s;
  -o-transition-delay: 0s, 0s, .3s;
  transition-delay: 0s, 0s, .3s;
  color: #102747
}

.menu .dropdown-menu {
  display: block;
  position: absolute;
  list-style: none;
  min-width: 10rem;
  background-color: #fff;
  -webkit-box-shadow: 0 50px 100px rgba(50, 50, 93, .1), 0 15px 35px rgba(50, 50, 93, .15), 0 5px 15px rgba(0, 0, 0, .1);
  box-shadow: 0 50px 100px rgba(50, 50, 93, .1), 0 15px 35px rgba(50, 50, 93, .15), 0 5px 15px rgba(0, 0, 0, .1);
  visibility: hidden;
  opacity: 0;
  top: 100%;
  left: 0;
  -webkit-transform: translateY(-.5rem);
  -ms-transform: translateY(-.5rem);
  transform: translateY(-.5rem);
  z-index: -1;
  -webkit-transition: all .3s ease-in-out 0s, visibility 0s linear .3s, z-index 0s linear 10ms;
  -o-transition: all .3s ease-in-out 0s, visibility 0s linear .3s, z-index 0s linear 10ms;
  transition: all .3s ease-in-out 0s, visibility 0s linear .3s, z-index 0s linear 10ms;
  padding: 0
}

.menu .dropdown-menu-link {
  padding: .375rem .625rem;
  display: block;
  color: #fe9f38;
  border: .063rem solid currentColor;
  margin-top: -.063rem
}

.menu .dropdown-menu-link:hover {
  color: #102747
}

.menu .dropdown-menu:hover {
  display: block
}

.cd-nav-trigger {
  overflow: hidden;
  position: relative;
  z-index: 3;
  height: 1.25rem;
  width: 1.875rem;
  cursor: pointer;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.cd-nav__divider {
  width: 100%;
  height: .125rem;
  background-color: #102747;
  border-radius: .25rem;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.cd-nav__divider--bottom,
.cd-nav__divider--top {
  position: absolute;
  top: .563rem
}

.cd-nav__divider--top {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  left: 0
}

.cd-nav__divider--bottom {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  right: 0
}

@-webkit-keyframes move1 {
  0% {
    height: 100%;
    bottom: 0
  }
  54% {
    height: 0;
    bottom: 100%
  }
  55% {
    height: 0;
    bottom: 0
  }
  100% {
    height: 100%;
    bottom: 0
  }
}

@keyframes move1 {
  0% {
    height: 100%;
    bottom: 0
  }
  54% {
    height: 0;
    bottom: 100%
  }
  55% {
    height: 0;
    bottom: 0
  }
  100% {
    height: 100%;
    bottom: 0
  }
}

@-webkit-keyframes move2 {
  0% {
    width: 0;
    left: 0
  }
  50% {
    width: 100%;
    left: 0
  }
  100% {
    width: 0;
    left: 100%
  }
}

@keyframes move2 {
  0% {
    width: 0;
    left: 0
  }
  50% {
    width: 100%;
    left: 0
  }
  100% {
    width: 0;
    left: 100%
  }
}

@-webkit-keyframes move3 {
  0% {
    height: 100%;
    top: 0
  }
  54% {
    height: 0;
    top: 100%
  }
  55% {
    height: 0;
    top: 0
  }
  100% {
    height: 100%;
    top: 0
  }
}

@keyframes move3 {
  0% {
    height: 100%;
    top: 0
  }
  54% {
    height: 0;
    top: 100%
  }
  55% {
    height: 0;
    top: 0
  }
  100% {
    height: 100%;
    top: 0
  }
}

@-webkit-keyframes move4 {
  0% {
    width: 0;
    right: 0
  }
  55% {
    width: 100%;
    right: 0
  }
  100% {
    width: 0;
    right: 100%
  }
}

@keyframes move4 {
  0% {
    width: 0;
    right: 0
  }
  55% {
    width: 100%;
    right: 0
  }
  100% {
    width: 0;
    right: 100%
  }
}

@media (max-width: 768px) {
  .navbar-collapse.show {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  .navbar-collapse {
    position: fixed;
    width: 100%;
    height: calc(100vh - 110px);
    bottom: 0;
    right: 0;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    background-color: #fff;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }

  .navbar-collapse .menu {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    max-width: 540px;
    margin: 0 auto;
  }

  .navbar-toggler {
    border: none;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .navbar-toggler:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .menu-item,
  .menu-item-link {
    width: 100%;
  }

  .menu-item-link {
    padding: .5rem .938rem !important;
  }

  .menu .dropdown-menu-link {
    padding: .375rem 2rem;
    color: #102747;
  }

  .menu .dropdown-menu-link:hover {
    color: #fe9f38;
  }

  .menu-item-link span {
    display: none!important;
  }

  .menu .dropdown:hover .dropdown-menu {
    visibility: hidden;
  }

  .menu .dropdown .dropdown-menu {
    position: relative;
    -webkit-box-shadow: none;
    box-shadow: none;
    min-width: 100%;
    margin: 0;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    border: none;
    display: none;
  }

  .menu .dropdown .dropdown-menu.show {
    visibility: visible;
    opacity: 1;
    display: block;
  }

  .menu .dropdown-menu.show .dropdown-menu-link {
    border: none;
  }

  .dropdown-toggle {
    position: absolute;
    cursor: pointer;
    right: 0;
    top: 0;
    background-color: rgba(16, 39, 71, .8);
    color: #fff;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .dropdown-toggle {
    display: none;
  }
}

.slider {
  margin: 0 0 3rem
}

.slider-effect {
  height: 100%
}

.slider-title {
  font-size: 1.69rem;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase
}

.slider-caption {
  padding: 2rem;
  color: #fff;
  font-size: 1.25rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden
}

.slider-caption:after,
.slider-caption:before {
  pointer-events: none
}

.slider-button {
  position: relative;
  display: inline-block;
  overflow: hidden;
  font-size: .8rem;
  color: #fff;
  background-color: transparent;
  padding: .3rem .5rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: .5rem;
  border: .063rem solid #fe9f38
}

.slider-button:hover {
  color: #fff;
  background-color: #fe9f38;
  -webkit-transform: translateY(.188rem);
  -ms-transform: translateY(.188rem);
  transform: translateY(.188rem);
  -webkit-box-shadow: 0 .563rem 1.063rem -.188rem rgba(0, 0, 0, .13);
  box-shadow: 0 .563rem 1.063rem -.188rem rgba(0, 0, 0, .13)
}

.slider-item {
  height: calc(100vh - 249px)
}

.effect {
  position: relative;
  overflow: hidden;
  text-align: center
}

.effect-caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.effect-img {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}

.effect-prolly-img {
  -webkit-transform: scale(1.12);
  -ms-transform: scale(1.12);
  transform: scale(1.12)
}

.effect-prolly:hover .effect-prolly-img {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1)
}

.effect-prolly-caption {
  padding: 3rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: rgba(16, 39, 71, .1);
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out
}

.effect-prolly-caption:before {
  position: absolute;
  top: 1rem;
  right: 1rem;
  bottom: 1rem;
  left: 1rem;
  border: .063rem solid #fff;
  content: '';
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}

.effect-prolly-caption:hover {
  background-color: rgba(16, 39, 71, .5)
}

.content-row {
  margin-top: 3rem;
  margin-bottom: 3rem
}

.content-col {
  margin: 0 2.5rem;
  width: calc(100%/2 - 5rem)
}

.content-padd {
  padding-bottom: 1.4rem
}

.content-title {
  font-size: 2.125rem;
  text-transform: uppercase;
  color: #102747;
  margin-bottom: 0
}

.content-title>a {
  color: currentColor
}

.content-description {
  font-size: .875rem;
  font-weight: 500;
  color: #fe9f38
}

.content-text {
  font-size: .938rem;
  line-height: 1.5rem;
  color: #444;
  margin-top: 2rem;
  margin-bottom: 0
}

.image-line {
  position: relative;
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out
}

.image-line:after,
.image-line:before {
  position: absolute;
  content: "";
  top: 0;
  background-color: #fe9f38;
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out
}

.image-line:before {
  height: 100%;
  width: .188rem;
  right: 50%
}

.image-line:after {
  width: 50%;
  height: .188rem;
  right: auto;
  left: 0
}

.image-line:hover:before {
  height: 0
}

.image-line:hover:after {
  width: 0;
  right: 50%;
  left: auto
}

.image-line:hover .image-line-image {
  -webkit-transform: translateX(-2.25rem);
  -ms-transform: translateX(-2.25rem);
  transform: translateX(-2.25rem)
}

.image-line-image {
  position: relative;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out
}

.image-line-extra {
  padding: 2rem
}

.image-line-extra:after,
.image-line-extra:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: #fe9f38;
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out
}

.image-line-extra:before {
  width: .188rem;
  height: 100%
}

.image-line-extra:after {
  width: 50%;
  height: .188rem
}

.image-line-extra:hover:before {
  height: 0
}

.image-line-extra:hover:after {
  width: 0
}

.image-line-vertical:before {
  right: 35%
}

.image-line-vertical:after {
  width: 65%
}

.image-line-vertical:hover:after {
  right: 35%
}

.image-line-vertical:hover .image-line-image {
  -webkit-transform: translateX(-3.375rem);
  -ms-transform: translateX(-3.375rem);
  transform: translateX(-3.375rem)
}

.image-line-vertical .image-line-extra {
  padding: 2rem
}

.image-line-vertical .image-line-extra:after {
  width: 65%
}

.image-line-vertical .image-line-extra:hover:after {
  width: 0
}

.Progressbar {
  margin-top: 4rem
}

.Progressbar-item {
  margin-top: 1.563rem
}

.Progressbar-title {
  margin-bottom: 0;
  color: #06355f;
  font-size: 1.063rem;
  font-weight: 400;
}

.Progressbar-full {
  position: relative;
  background: #e0e0e0;
  margin-top: .3rem
}

.Progressbar-fill {
  display: block;
  height: .188rem;
  background-color: #fe9f38;
  position: relative;
  overflow: hidden;
  -webkit-transition: width 2s;
  -o-transition: width 2s;
  transition: width 2s;
}

.Progressbar-count {
  font-weight: 500;
  color: #06355f;
  font-size: 1.063rem
}


@media (max-width: 768px) {
  .content-margin {
    margin-top: 1.4rem
  }
  .content-title {
    font-size: 1.8rem
  }
  .content-text {
    margin-top: 1rem
  }
  .content-row {
    margin: 3rem 0
  }
}

.Cover {
  height: 15.625rem;
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  margin: 0 0 2.5rem
}

.Cover-content {
  padding: .625rem 0 .625rem 2.188rem;
  position: relative
}

.Cover-content:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: .25rem;
  background-color: #fe9f38
}

.Cover-title {
  color: #fff;
  font-size: 1.688rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 0
}

.Gallery {
  margin: 3rem 0
}

.Gallery-item a {
  color: #fff;
  font-size: 1.125rem
}

.filter-grid {
  margin: .938rem 0
}

.filter-grid a {
  width: 100%;
  display: block
}

.filter-group {
  text-align: center;
  padding: 0;
  margin-bottom: 2rem
}

.filter-content {
  min-height: 18rem!important;
  overflow: hidden
}

.filter-button {
  position: relative;
  padding: .625rem 0;
  margin: 0 1.5rem 0;
  font-size: .875rem;
  font-weight: 500;
  display: inline-block;
  color: #102747;
  cursor: pointer;
  text-transform: uppercase
}

.filter-button:after,
.filter-button:before {
  position: absolute;
  content: "";
  width: 0;
  height: .125rem;
  background: #fe9f38;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}

.filter-button:before {
  top: 0;
  left: 0
}

.filter-button:after {
  bottom: 0;
  right: 0
}

.filter-button:hover:after,
.filter-button:hover:before {
  width: 100%
}

.filter-button.active:after,
.filter-button.active:before {
  width: 100%
}

.effect-layla:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(16, 39, 71, .6);
  display: none;
  z-index: 1;
}

.effect-layla-caption {
  padding: 2rem;
  z-index: 1;
}

.effect-layla-caption:after,
.effect-layla-caption:before {
  position: absolute;
  content: '';
  opacity: 0
}

.effect-layla-caption:before {
  top: 2.5rem;
  right: 1.25rem;
  bottom: 2.5rem;
  left: 1.25rem;
  border-top: .063rem solid #fff;
  border-bottom: .063rem solid #fff;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0
}

.effect-layla-caption:after {
  top: 1.25rem;
  right: 2.5rem;
  bottom: 1.25rem;
  left: 2.5rem;
  border-right: .063rem solid #fff;
  border-left: .063rem solid #fff;
  -webkit-transform: scale(1, 0);
  -ms-transform: scale(1, 0);
  transform: scale(1, 0);
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0
}

.effect-layla-caption:after,
.effect-layla-caption:before {
  -webkit-transition: all .35s ease-out;
  -o-transition: all .35s ease-out;
  transition: all .35s ease-out;
}

.effect-layla-title {
  color: #fff;
  margin: 0;
  padding: 1rem;
  opacity: 0;
  -webkit-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0);
  -webkit-transition: all .35s ease-out;
  -o-transition: all .35s ease-out;
  transition: all .35s ease-out;
}

.effect-layla-img {
  -webkit-transition: all .35s ease-out;
  -o-transition: all .35s ease-out;
  transition: all .35s ease-out;
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15)
}

.effect-layla:hover .effect-layla-caption:after,
.effect-layla:hover .effect-layla-caption:before {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1)
}

.effect-layla:hover:before {
  display: block;
  -webkit-transition-delay: .15s;
  -o-transition-delay: .15s;
  transition-delay: .15s
}

.effect-layla:hover .effect-layla-title {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0)
}

.effect-layla:hover .effect-layla-caption:after,
.effect-layla:hover .effect-layla-img,
.effect-layla:hover .effect-layla-title {
  -webkit-transition-delay: .15s;
  -o-transition-delay: .15s;
  transition-delay: .15s
}

.effect-layla:hover .effect-layla-img {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1)
}

@media (max-width: 992px) {
  .effect-layla-caption:after,
  .effect-layla-caption:before {
    content: none
  }
  .effect-layla-title {
    font-size: 1rem
  }
}

@media (max-width:768px) {
  .Gallery {
    margin: 3rem 0
  }

  .filter-group {
    margin-bottom: 0
  }

  .filter-button {
    margin-right: 0
  }

  .effect-layla-title {
    font-size: 1.5rem
  }
}

.Blog-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -2.5rem
}

.Blog-item {
  margin: .5rem 1.5rem 2.5rem;
  width: calc(100%/2 - 3rem);
  -webkit-box-shadow: 0 1rem 1rem 0 rgba(20, 52, 92, .05);
  box-shadow: 0 1rem 1rem 0 rgba(20, 52, 92, .05);
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out
}

.Blog-item:hover {
  -webkit-box-shadow: 0 1.875rem 5rem 0 rgba(20, 52, 92, .2);
  box-shadow: 0 1.875rem 5rem 0 rgba(20, 52, 92, .2)
}

.Blog-item:hover .Blog-body {
  padding: 1.6rem
}

.Blog-item:hover .Blog-header:after {
  opacity: .3
}

.Blog-item:hover .Blog-img {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2)
}

.Blog-header {
  position: relative;
  overflow: hidden
}

.Blog-header:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background: #102747;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0
}

.Blog-img {
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out
}

.Blog-body {
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
  padding: 1.6rem;
  background-color: #fff
}

.Blog-body .content-details {
  margin-top: .313rem
}

.Blog-footer {
  margin-top: 3.75rem
}

.Blog-more {
  padding: .5rem .7rem;
  border: .063rem solid currentColor;
  display: inline-block;
  font-size: .8rem;
  color: #fe9f38;
  background-color: #fff;
  text-transform: uppercase;
  font-weight: 500
}

.Blog-more:hover {
  background-color: #fe9f38;
  color: #fff;
  -webkit-box-shadow: 0 .5rem 1.813rem 0 rgba(0, 0, 0, .23);
  box-shadow: 0 .5rem 1.813rem 0 rgba(0, 0, 0, .23);
  border-color: #fe9f38
}

.Blog-details-footer {
  padding-top: 2rem;
  border-top: .063rem solid #fe9f38;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  row-gap: 8px;
}

.Blog-details-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.Blog-details-category-icon .icon {
  width: 1rem;
  height: 1rem;
  color: #444
}

.Blog-details-tag {
  margin-left: 1.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
}

.Blog-details-tag a {
  color: #444
}

.Blog-details-tag a:hover {
  color: #fe9f38;
}

.Blog-comment {
  padding-top: 0;
  margin-bottom: 3rem
}

.Pagination {
  margin: .5rem 0 3rem
}

.Pagination-item .page-link{
  padding: .5rem .7rem;
  font-weight: 500;
  margin: 0 .375rem;
  color: #888;
  background-color: #fff;
  border: .063rem solid #ddd;
  min-width: 2.313rem;
  text-align: center;
  line-height: normal;
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out
}

.Pagination-item.page-item:not(:first-child) .page-link {
  margin-left: .375rem;
}

.Pagination-item .page-link:hover {
  background-color: #102747;
  border-color: #102747;
  color: #fff
}

.Pagination-item .page-link:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.Pagination-item.page-item:last-child .page-link,
.Pagination-item.page-item:first-child .page-link {
  border-radius: 0;
}

.Form .button {
  margin-top: 0
}

.Form-group {
  width: 100%;
  position: relative;
  padding: 0;
  margin-bottom: 1rem
}

.Form-input {
  border: .063rem solid #fe9f38;
  display: block;
  width: 100%;
  font-size: .875rem;
  height: 2.813rem;
  padding-left: .75rem;
  padding-right: .75rem;
  word-break: normal;
  background-color: #fff;
  color: #071330;
  outline: 0;
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out
}

.Form-input--textarea {
  height: 9rem
}

.Form-input::-webkit-input-placeholder {
  color: #888
}

.Form-input::-moz-placeholder {
  color: #888
}

.Form-input:-ms-input-placeholder {
  color: #888
}

.Form-input::-ms-input-placeholder {
  color: #888
}

.Form-input::placeholder {
  color: #888
}

.Form-input:focus {
  outline: 0;
  border-color: #102747
}

@media (max-width:992px) {
  .Blog-details-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }
  .Blog-details-category {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
  }
}

@media only screen and (min-width:768px) and (max-width:991px) {
  .Blog-item .content-text {
    display: none
  }
  .Blog-item .content-title {
    font-size: 1.6rem
  }
}

@media (max-width:768px) {
  .Blog-details-footer {
    margin-top: 1rem
  }

  .Blog-wrap {
    margin: 0
  }

  .Blog-item {
    width: 100%;
    margin: 1rem 0 .9rem
  }
  .Blog-comment {
    padding-top: 0;
    margin-bottom: 3rem
  }
  .Pagination {
    margin: 2rem 0 3rem
  }
}

.Contact-methods {
  position: relative
}

.Contact-form {
  position: absolute;
  top: 50%;
  width: 26.875rem;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
  -webkit-box-shadow: 0 0 2.188rem 0 rgba(0, 4, 2, .22);
  box-shadow: 0 0 2.188rem 0 rgba(0, 4, 2, .22);
  padding: 2rem;
  background-color: #fff
}

.Contact-info-item {
  margin-top: 1.563rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}

.Contact-info-item a.Contact-info-text:hover {
  color: #fe9f38
}

.Contact-info-icon {
  width: 6.5rem;
  height: 6.5rem;
  border: .125rem solid currentColor;
  color: #fe9f38;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out
}

.Contact-info-icon:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 0 0 .063rem rgba(254, 159, 56, .1);
  box-shadow: 0 0 0 .063rem rgba(254, 159, 56, .1);
  opacity: 0;
  -webkit-transform: scale(.9);
  -ms-transform: scale(.9);
  transform: scale(.9);
  border-radius: 50%
}

.Contact-info-icon:hover {
  background-color: #fe9f38;
  -webkit-transform: scale(.93);
  -ms-transform: scale(.93);
  transform: scale(.93);
  color: #fff;
  border-color: #fe9f38
}

.Contact-info-icon:hover:after {
  -webkit-animation: circleHoverEffect 1s ease-out 75ms;
  animation: circleHoverEffect 1s ease-out 75ms
}

.Contact-info-icon:hover+.Contact-info-text {
  color: #fe9f38
}

.Contact-info-icon svg {
  height: 2.5rem;
  width: 2.5rem
}

.Contact-info-text {
  font-size: 1rem;
  color: #444;
  font-weight: 500;
  margin-top: 1rem;
  text-align: center
}

.Contact-form Form .button {
  width: 100%;
  margin-top: .8rem;
  padding: .7rem;
}

.Form-group--focus .Form-label {
  font-size: .75rem;
  -webkit-transform: translateY(-.25rem);
  -ms-transform: translateY(-.25rem);
  transform: translateY(-.25rem)
}

.Form-group--focus .Form-input {
  padding-top: 1.125rem
}

.Form-input:focus {
  outline: 0;
  border-color: #102747
}

.Form-label {
  font-size: .875rem;
  font-weight: 400;
  width: 100%;
  color: #444;
  margin-bottom: .5rem;
  z-index: 1;
  cursor: text;
  text-transform: capitalize;
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out
}

.Contact-form .Form-input--textarea {
  height: 6rem;
}

.Map {
  margin-top: 3rem
}

.Map-container {
  height: 40rem;
  border-top: .063rem solid #ddd
}

@media (max-width: 768px) {
  .Contact-methods .container {
    max-width: 100%;
    padding: 0
  }
  .Contact-form {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-top: .063rem solid #ddd;
    position: relative;
    top: 0;
    -ms-transform: none;
    -webkit-transform: none;
    transform: none;
    width: 100%
  }
  .Contact-info {
    padding-top: 0
  }
  .Contact-info-item {
    margin-top: 0;
    margin-bottom: 1.5rem;
  }
  .Contact-info-icon {
    width: 4.5rem;
    height: 4.5rem;
  }
  .Contact-info-icon svg {
    height: 2rem;
    width: 2rem;
  }
  .Map {
    margin-top: 0
  }
}

.footer {
  background-color: #102747;
  padding: 1.375rem 0
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.copyright {
  font-size: .9rem;
  color: #102747;
  margin-bottom: 0
}

.copyright-white {
  color: #fff
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  color: #444;
}

.social-item {
  color: #102747;
  font-size: 18px;
}

.social-item .icon {
  width: 1.125rem;
  height: 1.125rem
}

.social--white .social-item {
  color: #fff
}

.social--white .social-item:hover {
  color: #fe9f38
}

.social--blue .social-item {
  color: #444
}

.social--blue .social-item:hover {
  color: #fe9f38
}

@media (max-width: 768px) {
  .footer-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }
}

body {
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  min-height: 100vh;
  background-color: #fff;
  margin: 0;
}

* {
  outline: 0!important;
  font-weight: 400
}