/*-------------------------
    Header Styles
-------------------------*/
@keyframes move1 {
  0% {
    height: 100%;
    bottom: 0;
  }
  54% {
    height: 0;
    bottom: 100%;
  }
  55% {
    height: 0;
    bottom: 0;
  }
  100% {
    height: 100%;
    bottom: 0;
  }
}
@keyframes move2 {
  0% {
    width: 0;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes move3 {
  0% {
    height: 100%;
    top: 0;
  }
  54% {
    height: 0;
    top: 100%;
  }
  55% {
    height: 0;
    top: 0;
  }
  100% {
    height: 100%;
    top: 0;
  }
}
@keyframes move4 {
  0% {
    width: 0;
    right: 0;
  }
  55% {
    width: 100%;
    right: 0;
  }
  100% {
    width: 0;
    right: 100%;
  }
}
@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }
}
.navbar {
  position: relative;
  padding: 2.25rem 0;
}
.navbar.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0;
  z-index: 4;
  -webkit-animation: slideInDown .7s ease-in-out 0s 1 both;
  animation: slideInDown .7s ease-in-out 0s 1 both;
  -webkit-box-shadow: 0 .313rem .563rem .063rem rgba(144, 161, 180, .2);
  box-shadow: 0 .313rem .563rem .063rem rgba(144, 161, 180, .2);
  background-color: var(--color-white);
}
.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: .5rem 0;
  margin: .125rem 0 0;
  font-size: 1rem;
  color: var(--color-gray-3);
  text-align: left;
  list-style: none;
  background-color: var(--color-white);
  background-clip: padding-box;
  border: var(--border-black-1);
  border-radius: .25rem;
}
.dropdown-menu.show {
  display: block;
}
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  .dropdown {
    position: relative;
    &:hover {
      .dropdown-menu {
        height: auto;
        visibility: visible;
        opacity: 1;
        z-index: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        -webkit-transition-delay: 0s, 0s, .3s;
        -o-transition-delay: 0s, 0s, .3s;
        transition-delay: 0s, 0s, .3s;
        color: var(--color-primary);
      }
    }
  }
  .dropdown-menu {
    display: block;
    position: absolute;
    list-style: none;
    min-width: 10rem;
    background-color: var(--color-white);
    -webkit-box-shadow: 0 50px 100px rgba(50, 50, 93, .1), 0 15px 35px rgba(50, 50, 93, .15), 0 5px 15px rgba(0, 0, 0, .1);
    box-shadow: 0 50px 100px rgba(50, 50, 93, .1), 0 15px 35px rgba(50, 50, 93, .15), 0 5px 15px rgba(0, 0, 0, .1);
    visibility: hidden;
    opacity: 0;
    top: 100%;
    left: 0;
    -webkit-transform: translateY(-.5rem);
    -ms-transform: translateY(-.5rem);
    transform: translateY(-.5rem);
    z-index: -1;
    -webkit-transition: all .3s ease-in-out 0s, visibility 0s linear .3s, z-index 0s linear 10ms;
    -o-transition: all .3s ease-in-out 0s, visibility 0s linear .3s, z-index 0s linear 10ms;
    transition: all .3s ease-in-out 0s, visibility 0s linear .3s, z-index 0s linear 10ms;
    padding: 0;
    &:hover {
      display: block;
    }
  }
  .dropdown-menu-link {
    padding: .375rem .625rem;
    display: block;
    color: var(--color-secondary);
    border: var(--border-secondary);
    margin-top: -.063rem;
    &:hover {
      color: var(--color-primary);
    }
  }
}
.menu-item {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  border: var(--border-transparent-1);
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
  &:hover {
    .line-1 {
      -webkit-animation: move1 1.5s infinite ease;
      animation: move1 1.5s infinite ease;
    }
    .line-2 {
      -webkit-animation: move2 1.5s infinite ease;
      animation: move2 1.5s infinite ease;
    }
    .line-3 {
      -webkit-animation: move3 1.5s infinite ease;
      animation: move3 1.5s infinite ease;
    }
    .line-4 {
      -webkit-animation: move4 1.5s infinite ease;
      animation: move4 1.5s infinite ease;
    }
  }
  .line-1 {
    content: "";
    display: block;
    position: absolute;
    background-color: var(--color-secondary);
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    width: .063rem;
    left: 0;
    bottom: 0;
  }
  .line-2 {
    content: "";
    display: block;
    position: absolute;
    background-color: var(--color-secondary);
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    height: .063rem;
    left: 0;
    top: 0;
  }
  .line-3 {
    content: "";
    display: block;
    position: absolute;
    background-color: var(--color-secondary);
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    width: .063rem;
    right: 0;
    top: 0;
  }
  .line-4 {
    content: "";
    display: block;
    position: absolute;
    background-color: var(--color-secondary);
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    height: .063rem;
    right: 0;
    bottom: 0;
  }
}
.menu-item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--color-primary);
  text-decoration: none;
  font-family: var(--font-primary);
  font-weight: 700;
  text-transform: uppercase;
  &:hover {
    color: var(--color-secondary);
  }
}
.cd-nav-trigger {
  overflow: hidden;
  position: relative;
  z-index: 3;
  height: 1.25rem;
  width: 1.875rem;
  cursor: pointer;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.cd-nav__divider {
  width: 100%;
  height: .125rem;
  background-color: var(--color-primary);
  border-radius: .25rem;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.cd-nav__divider--bottom {
  position: absolute;
  top: .563rem;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  right: 0;
}
.cd-nav__divider--top {
  position: absolute;
  top: .563rem;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  left: 0;
}
@media (max-width: 768px) {
  .navbar-collapse.show {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  .navbar-collapse {
    position: fixed;
    width: 100%;
    height: calc(100vh - 110px);
    bottom: 0;
    right: 0;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    background-color: var(--color-white);
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    .menu {
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      max-width: 540px;
      margin: 0 auto;
    }
  }
  .navbar-toggler {
    border: none;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    &:focus {
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
  .menu-item {
    width: 100%;
  }
  .menu-item-link {
    width: 100%;
    padding: .5rem .938rem !important;
    span {
      display: none !important;
    }
  }
  .menu {
    .dropdown-menu-link {
      padding: .375rem 2rem;
      color: var(--color-primary);
      &:hover {
        color: var(--color-secondary);
      }
    }
    .dropdown {
      &:hover {
        .dropdown-menu {
          visibility: hidden;
        }
      }
      .dropdown-menu {
        position: relative;
        -webkit-box-shadow: none;
        box-shadow: none;
        min-width: 100%;
        margin: 0;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        border: none;
        display: none;
      }
      .dropdown-menu.show {
        visibility: visible;
        opacity: 1;
        display: block;
      }
    }
    .dropdown-menu.show {
      .dropdown-menu-link {
        border: none;
      }
    }
  }
  .dropdown-toggle {
    position: absolute;
    cursor: pointer;
    right: 0;
    top: 0;
    background-color: var(--bgcolor-primary-4);
    color: var(--color-white);
    width: 2.5rem;
    height: 2.5rem;
    font-size: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
@media (min-width: 768px) {
  .dropdown-toggle {
    display: none;
  }
}
