/*-------------------------
    Gallery Styles
-------------------------*/
$color_1: #fff;

.Gallery {
  margin: 3rem 0;
}
.Gallery-item {
  a {
    color: $color_1;
    font-size: 1.125rem;
  }
}
@media (max-width:768px) {
  .Gallery {
    margin: 3rem 0;
  }
}
